.form-horizontal{height: 786px;margin-left: 500px;margin-top: 150px;}
.form-h4{color: red;font-size: 25px;margin-left: 180px;margin-bottom: 12px;}
.personal-list{width: 392px;height: 392px;}
.personal-img{width: 392px;height:392px;}
.form-control{margin: 10px 0 10px 0}
.control-label{margin-top: 15px;}