<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>澄园商城</title>
  <!-- Bootstrap Styles-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="assets/css/custom-styles.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="wrapper">
    <% include common.ejs %>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
      <div id="page-inner">
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-header">
              澄园果园 <small>澄园在线</small>
            </h1>
          </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                会员账号信息
              </div>


              <div class="panel-body">
                <div class="alert alert-success">
                  <strong>澄园信息</strong> 澄园商城新上商品
                </div>
                <div class="alert alert-info">
                  <strong>澄园信息!</strong> 澄园商城推出消息
                </div>
                <div class="alert alert-warning">
                  <strong>澄园信息!</strong> 澄园商城新上水果
                </div>
                <div class="alert alert-danger">
                  <strong>澄园信息!</strong> 澄园商城新上鸭梨大
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="assets/js/jquery-1.10.2.js"></script>
  <script type="text/javascript">
    $(function () {
      var $ul = $("#main-menu");
      //console.log($ul.children())
      $ul.children().find("a").removeClass().eq(4).addClass("active-menu")
    })
  </script>


  <!-- Bootstrap Js -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Metis Menu Js -->
  <script src="assets/js/jquery.metisMenu.js"></script>
  <!-- Custom Js -->
  <!--<script src="assets/js/custom-scripts.js"></script>-->

</body>

</html>