<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Bootstrap Styles-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="/assets/css/font-awesome.css" rel="stylesheet" />
  <!-- Morris Chart Styles-->
  <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="/assets/css/custom-styles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  
  <!-- Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
  <div id="wrapper">
     <% include common.ejs%>
     <div class="form-horizontal">
     <h4 class="form-h4">登陆</h4>
     <div class="form-group">
       <label for="username" class="col-sm-2 control-label">用户名/手机号</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" id="username" placeholder="请输入用户名或手机号" name="username">
       </div>
     </div>
     <div class="form-group">
       <label for="password" class="col-sm-2 control-label">密码</label>
       <div class="col-sm-10">
         <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
       </div>
     </div>
     <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
         <div class="checkbox">
           <label>
             <input type="checkbox"> 记住密码
           </label>
         </div>
       </div>
     </div>
     <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
         <button type="button" class="btn btn-default" id="denglu">登陆</button>
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         <button type="button" class="btn btn-default" id="zhuce">注册</button>
         <div class="tip"></div>
       </div>
     </div>
   </div>
 </div>
   <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/javascripts/login.js"></script>
    
</html>